main {
  display: grid;
  grid-template-rows: 1fr 320px;
  grid-template-columns: repeat(3,1fr);
}

/* Menu  */
.menu-icon {
  display: none;
}

nav {
  justify-content: space-evenly;
}
.menu {
  display: flex;
  position: absolute;
  left: 3%;
}

.underline {
  display: inline-block;
  color: var(--white)
}


.container {
  grid-area: 1 / 1 / 1 / 3;
  display: flex;
}

.container-img {
  width: 89%;
}

.container-buttons{
  transform: none;
}

.container-buttons a {
  padding: 25px;
}

.content {
  padding-right: 5rem;
  align-self: center;
  justify-self: center;
}

.content > div {
  padding: 0;
}

.content-header h2 {
  font-size: 3rem;
}

.content-buttons {
  padding-top: 0;
}

.bottom-middle {
  align-self: center;
  justify-self: center;
}

@media all and (min-width: 1500px) {
  .content-header h2 {
    font-size: 4rem;
  }
  .content-buttons h2 {
    font-size: 2rem;
  }

  .content-info p,
  .bottom-middle h2,
  .bottom-middle p {
    font-size: 1.5rem;
  }
}
